<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Sign up</title>
</head>
<body>
	<section class="signbanner">
		<div class="container">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="my-card mt=4">
						<div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
						<p class="text-center" th:text="${session.message.content}"></p>
						<!-- <th:block th:text="${#session.removeAttribute('message')}"></th:block> it giving an exception-->
						<th:block th:remove="all"></th:block>
						</div>
						<h1 class="text-center">Register Here</h1>

						<form th:action="@{/do_register}" method="post" th:object="${user}">
						<!-- name_field -->
							<div class="mb-3">
								<label for="name_field" class="form-label">User Name</label> 
								<input name="name" type="text" class="form-control" th:classappend="${#fields.hasErrors('name') ? 'is-invalid':''}"
									id="name_field" aria-describedby="emailHelp" placeholder="Enter User Name" required th:text="${user.name}">
									<div class="invalid-feedback" th:each="e:${#fields.errors('name')}" th:text="${e}">
									
									</div>
							</div>
						<!-- Email_field -->
							<div class="mb-3">
								<label for="email_field" class="form-label">Email</label> 
								<input name="email" type="email" class="form-control" th:classappend="${#fields.hasErrors('email') ? 'is-invalid' : ''}"
									id="email_field" aria-describedby="emailHelp" placeholder="Enter Your Email" required th:text="${user.email}">
									<div class="invalid-feedback" th:each="m:${#fields.errors('email')}" th:text="${m}">
									</div>
							</div>
							<!-- Password_field -->
							<div class="mb-3">
								<label for="password_field" class="form-label">Password</label> 
								<input name="password" type="password" class="form-control" th:classappend="${#fields.hasErrors('password') ? 'is-invaild':''}"
									id="password_field" aria-describedby="emailHelp" placeholder="Enter Your Password" required>
							<div class="invalid-feedback" th:each="p : ${#fields.errors('password')}" th:text="${p}"></div>
							
							</div>
							
							<!-- user about -->
							<div class="form-group">
							
							<textarea name="about" th:text="${user.about}" placeholder="Enter Something Yourself" rows="7" class="form-control"></textarea>
							
							</div>
							
							<!-- Terms and Condition checkbox -->
							<div class="form-group form-check">
							<input type="checkbox" class="form-check-input" id="agreement" name="agreement" />
							<label for="agreement">Accept terms and conditions</label>
							</div>
							
							
							<div class="container text-center">
							<button type="submit" class="btn bg-primary text-white">Submit</button>
							<button type="reset" class="btn bg-primary text-white">Reset</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>



	</section>
</body>
</html>